
body {
	border: 20px #bdc3c7 solid;
	padding: 15px;
	font-family: 'Source Sans Pro', sans-serif;
}

.bar {
	border-left: 5px #bdc3c7 solid;
	background-color: #f1f2f3;
	padding: 4px;
}

.date {
	text-transform: uppercase;
	color: #3498db;
    letter-spacing: 5px;
	font-size: 1.2em;
	font-weight: 700;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
	margin: 20px;
}